# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
df= pd.read_csv('cities_updated.csv')
df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,iqaluit,63.7506,-68.5145,31.73,80,90,17.00,CA,1635043762
1,1,sitka,57.0531,-135.3300,48.09,66,90,11.50,US,1635043743
2,2,provideniya,64.3833,-173.3000,24.26,78,100,8.68,RU,1635043780
3,3,ancud,-41.8697,-73.8203,48.42,77,82,9.42,CL,1635043756
4,4,talara,-4.5772,-81.2719,66.18,84,92,14.99,PE,1635044200

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
gmaps.configure(api_key=g_key)

In [9]:
figure_layout = {
    'width':'640px',
    'height':'480px',
    'border':'1px solid black',
    'padding':'1px',
    'margin': '0 auto 0 auto'
}
map_figure = gmaps.figure(layout=figure_layout)
locations = df[['Lat', 'Lng']]
weights = df['Humidity']

map_figure.add_layer(gmaps.heatmap_layer(locations, weights=weights))
map_figure 

#Observation: I can see that three continent has alot of heat humidity North america, south america, Africa and a few different 
#islands

Figure(layout=FigureLayout(border='1px solid black', height='480px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
#  Observation: 
#Ideal weather temperature for me is: 
    # max temperature lower than 80 degrees but higher than 70.
    # Wind speed less than 10 mph.
    # Zero cloudiness.
    
# Dataframe made to hold data 
df_city_narrowed = df[(df['Wind Speed'] < 10)  & (df['Max Temp'] >70) & (df['Max Temp'] < 80)]
print(df_city_narrowed.shape)
df_city_narrowed.head()

(86, 10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,16,bambari,5.7680,20.6757,70.59,93,68,1.07,CF,1635044202
28,28,atar,20.5169,-13.0499,78.49,19,11,7.58,MR,1635044204
31,31,tonantins,-2.8731,-67.8022,75.63,94,2,1.66,BR,1635044205
40,40,busselton,-33.6500,115.3333,78.04,58,99,7.49,AU,1635043732
43,43,tura,25.5198,90.2201,76.01,62,19,0.89,IN,1635043760

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
# Hotel Dataframe made to find all hotels with/ in5000 meters
hotel_df = pd.DataFrame(columns=['Hotel Name','Lat','Lng','City','Country'])
search_distance = 5000 #5000 meters
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'

# For Loop made 
for idx in range(len(df_city_narrowed)):
    # print(idx)
    query_url = f"{url}key={g_key}&type=lodging&location={df_city_narrowed['Lat'].iloc[idx]},{df_city_narrowed['Lng'].iloc[idx]}&radius={search_distance}"
    # print(query_url)
    place_response = requests.get(query_url)
    place_json = place_response.json()
    try:
        first_hotel_lat = place_json['results'][0]['geometry']['location']['lat']
        first_hotel_lng = place_json['results'][0]['geometry']['location']['lng']
        first_hotel_name = place_json['results'][0]['name']
        hotel_df.loc[len(hotel_df.index)] = {'Hotel Name':first_hotel_name,
                                             'Lat':first_hotel_lat,
                                             'Lng':first_hotel_lng, 
                                             'City':df_city_narrowed['City'].iloc[idx],
                                             'Country':df_city_narrowed['Country'].iloc[idx]}
    except:
        print(f"No Hotel found nearby {df_city_narrowed['City'].iloc[idx]}")

print(hotel_df.shape)
hotel_df.head()
# Observation: list made to show hotels that were not nearby and a list of hotels that were found and the city in a dataframe.

No Hotel found nearby gamba
No Hotel found nearby saquena
No Hotel found nearby amapa
No Hotel found nearby sebastian
No Hotel found nearby nokaneng
No Hotel found nearby bulungu
No Hotel found nearby nioro
No Hotel found nearby birao
No Hotel found nearby sabla
No Hotel found nearby micheweni
No Hotel found nearby aripuana
No Hotel found nearby adrar
(74, 5)

                 Hotel Name        Lat         Lng       City Country
0   Hotel-Restaurant BIBICH   5.765159   20.666352    bambari      CF
1            Oumou Elghoura  20.522427  -13.050393       atar      MR
2            Hotel Rei Davi  -2.862120  -67.772472  tonantins      BR
3   Observatory Guest House -33.646393  115.348676  busselton      AU
4  Hotel RIKMAN Continental  25.512665   90.217633       tura      IN

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
map_figure.add_layer(markers)

# Display figure
map_figure 

#Observation: shows hotels throughout the country in area where the humidity is high.

Figure(layout=FigureLayout(border='1px solid black', height='480px', margin='0 auto 0 auto', padding='1px', wiâ€¦